.content.profile .community-list-wrap .ui.table{margin:0;}
.content.profile .community-list-wrap .ui.table thead th{background:#fff;}
.content.profile .community-list-wrap .ui.table tbody td.title .label{margin-right:10px; background: #00bfae;color: #fff;padding: 0.2rem 1rem;border-radius: 12px;font-size: 12px;}