/* .tab-menu.offset0 .cont-inner .item-button { width: auto; padding: 0.375rem 0.625rem; } */
/* app.css */
.introduction .common-intro.case3 .inner .inner-video{width: 920px; height: 517px;}
.introduction .common-intro.case3 .inner{padding:3.75rem 0 0; background: none; }