

.board-write-radio > div {margin-right:2rem;}
.board-write-checkbox .ui.checkbox label {font-size: 0.875rem;line-height: 1.43;letter-spacing: -0.00625rem;color: #4c4c4c;margin: 0 0 1rem 0;font-weight:700;}

