.ui.modal.base .content.admin_popup_content {padding:2rem 0 2.5rem !important;text-align:center;}
.admin_popup_content h3 {font-size:1.625rem;color:#222222;font-weight:700;margin-bottom: 0.5rem;}
.admin_popup_content p {font-size:0.875rem;color:#555555;}
.admin_popup_close {float: right;margin: 0.5rem 1rem;}