.h692 .cnt_inner .post_search_box .sc_tit{width:5rem;}
.h692 .cnt_inner .list_title{margin-top:1.25rem;}
.h692 .cnt_inner .list_title span{line-height:1;}
.h692 .cnt_inner .sc_content .input > input{width:45rem;}
.h692 .cnt_inner .post_search .ui.selection.dropdown{width:22.188rem !important;}
