/* 
i.icon.sk-university::before {
    background: url(../../../images/all/badge-logo-gnb.svg) no-repeat 0 0 !important;
    background-size: 100% 100% !important;
} */
.certi_box .my_certificate .txt_box { left: 92px; top: 190px; }
.print_certi .certi_box .my_certificate .txt_box { left: 116px; top: 238px; }