.ui.modal.profile-modal-new.g-type{width: 17.5rem; height:35rem}
.ui.modal.profile-modal-new.g-type .left-side{margin:0; height:35rem}
.profile-modal-new.g-type .left-side .bg-wrapper{height: 20rem; overflow:hidden;}
.profile-modal-new.g-type .profile-info-area .image-area{margin-top:58px}