.no_data{padding:7.5rem 0;text-align:center;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.no_data i.icon{display:block;width:5rem;height:5rem;margin:0 auto 1rem;}
.no_data .txt{font-size:1.25rem;color:#555;}