.course-overview-wrap{margin: 0 auto;padding: 2.813rem 0;width: 75rem;}
.pop-overview.lms-sticky-menu{margin-top: 3.813rem;margin-bottom: 3.125rem;height: 3.188rem;border-bottom: 0.063rem solid #d6deed;}
.pop-overview.lms-sticky-menu .lms-fixed-inner a{display: inline-block;height: 2.938rem;font-size: 0.875rem;}
.pop-overview.lms-sticky-menu .lms-fixed-inner a + a{margin-left: 3.125rem;}
.pop-overview .lms-fixed-inner a.active{text-shadow: 0 0 0.063rem #4c4c4c;border-bottom: 0.25rem solid #e1002a;}
.badge-detail .ov-paragraph .list.bulleted .item .title.te-overview{width: 11.563rem !important;}
.badge-detail .ov-paragraph .list .item > .title.te-overview{width: 11.75rem !important;}
.external-teacher .ui.label.onlytext .icon.te-overview{height: 1.313rem;}
.ov-paragraph.fn-parents .section-head.te-overview{margin-bottom: 0.938rem;}
.badge-detail .ov-paragraph .list.bulleted .item .title.wd222{width: 13.875rem !important;}
.pop-overview .lms-fixed-inner a span.count{margin-left: 0.25rem;color: #e1002a;font-size: 0.75rem;line-height: 1.5;font-weight: 700;}












