
/* Open Card */
.community-open-card {position:relative;border-radius: 0.5rem;display:inline-block;min-height:320px;background: #fff;margin: 0;margin:1rem 1rem 10px;box-shadow: 0 2px 6px 0 #ccd4e7;overflow: hidden;width:23rem;padding:2rem;}
.community-open-card .open-card-top .label {background:#00bfae;color:#fff;padding:0.2rem 1rem;border-radius: 12px;font-size:12px;}
.community-open-card .open-card-top .wait {float:right;font-size:12px;color:#999999;text-decoration: underline;}
.community-open-card .open-card-content p {font-size:20px;font-weight:700;margin:1rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    height: 3.625rem;}
.community-open-card .open-card-content > div {display:inline-block;vertical-align: top;}
.community-open-card .open-card-content > div img {width: 72px; height: 72px; border-radius: 10px}
.community-open-card .open-card-content .community-main-left-h3 {margin-left:1rem; word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    height: 4.5rem;}
.community-open-card .open-card-content .community-main-left-list {width:13.5rem;}
.community-open-card .open-card-bottom {position: absolute;bottom:2rem;left:2rem;right:2rem;display:flex;}
.community-open-card .open-card-bottom > .title-area {width: 13rem;}
.community-open-card .open-card-bottom > .title-area > .text-list > span{vertical-align: top;margin-top:9px;display:inline-block;margin-left:0.5rem; font-size: 14px;color: #4c4c4c}
.community-open-card .open-card-bottom > .title-area > div {display:inline-block;}
.community-open-card .open-card-bottom > .title-area > div img{margin-top: 9px}
.community-open-card .open-card-bottom > .right-area {font-size:14px;margin-top:0.6rem;margin-left:auto;text-align:right;color: #4c4c4c}
.community-open-card .open-card-bottom > .right-area > span:last-child {margin-left:0.5rem;}
.community-open-card.lock {background-image: url('../../../resources/images/down/icon-card-lock.png');background-position:top 2rem right 2rem;background-repeat: no-repeat;}

/* Tag Slide */
.open-tab-radio {margin-top:30px;text-align:right;margin-bottom:4px;}
.open-tab-radio > div {margin-right:40px;}
.community-slide-wrap{display: flex; padding-top: 40px}
.community-slide-content{flex: 1; overflow: hidden; position: relative; height: 42px}
.community-slide-inner{white-space: nowrap; position: absolute;left: 0}
.community-slide-inner .check-type1{ margin-right: 10px; cursor: pointer}
.check-type1{position: relative}

/* 2021/04/26 아이패드 communityList input 이슈(불필요한 .이 생김) 해결위해 display:none처리 */
.check-type1 input{display: none;-webkit-appearance: none; position: absolute; left: 0; top: 0; width: 0;height: 0}

.check-type1-text{
  border-radius: 20px;
  border:solid 1px #6c788f;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #fff;
  height: 40px;
  display: inline-block;
  color: #6c788f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-type1 input:checked + .check-type1-text{
  color: #0e73db;
  border:solid 1px #0e73db;
  font-weight: 700;
}



.icon.prev-off {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-right: 16px;
  vertical-align: middle;
  background: url('../../../resources/images/down/btn-24-px-prev-off.png') 0 0 no-repeat !important;
  background-size: 100% auto;
}

.icon.prev-on {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-right: 16px;
  vertical-align: middle;
  background: url('../../../resources/images/down/btn-24-px-prev-on.png') 0 0 no-repeat !important;
  background-size: 100% auto;
}

.icon.next-on {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top:0.5rem;
  margin-left: 16px;
  vertical-align: middle;
  background: url('../../../resources/images/down/btn-24-px-next-on.png') 0 0 no-repeat !important;
  background-size: 100% auto;
}


.icon.next-off {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top:0.5rem;
  margin-left: 16px;
  vertical-align: middle;
  background: url('../../../resources/images/down/btn-24-px-next-off.png') 0 0 no-repeat !important;
  background-size: 100% auto;
}

/* 이전/이후 버튼 a--> button으로 바꿨을때 css */
.community-slide-wrap button.ui.button{margin:0;padding:0;}
.community-slide-wrap button.community-slide-prev,
.community-slide-wrap button.ui.button.community-slide-prev{margin-right:1rem;}
.community-slide-wrap button.community-slide-next,
.community-slide-wrap button.ui.button.community-slide-next{margin-left:1rem;}
.community-slide-wrap button i.icon,
.community-slide-wrap button.ui.button i.icon{display: inline-block;width:1.5rem;height:1.5rem;margin:0 !important;vertical-align: top;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
}
.community-slide-wrap .icon.prev-off {background-image: url('../../../resources/images/down/btn-24-px-prev-off.png');}
.community-slide-wrap .icon.prev-on {background-image: url('../../../resources/images/down/btn-24-px-prev-on.png');}
.community-slide-wrap .icon.next-off {background-image: url('../../../resources/images/down/btn-24-px-next-off.png');}
.community-slide-wrap .icon.next-on {background-image: url('../../../resources/images/down/btn-24-px-next-on.png');}

.check-type1 input:checked + .check-type1-text span{color:#e1002a;}

.coc_v2.community-open-card{overflow:hidden;position:relative;display:inline-block;width:23.75rem;margin:1.875rem 0 0 1.875rem;padding:1.875rem;box-shadow: 0 2px 6px 0 #ccd4e7;border-radius:.5rem;background:#fff;}
.coc_v2.community-open-card:nth-child(1),
.coc_v2.community-open-card:nth-child(2),
.coc_v2.community-open-card:nth-child(3){margin-top:1.25rem;}

.coc_v2.community-open-card:nth-child(3n-2){margin-left:0;}

.coc_v2 .open-card-top{display:flex;margin-bottom:.625rem;}
.coc_v2 .open-card-top .iconbox{margin-left:auto;}
.coc_v2 .open-card-top .iconbox .waiton{border-bottom:1px solid #ddd;font-size:.75rem;font-weight:700;color:#999;}
.coc_v2 .open-card-top .iconbox button{width:1.125rem;height:1.125rem;margin:0 0 0 .625rem;padding:0;}
.coc_v2 .open-card-top .iconbox i.icon{margin:0 !important;width:100%;height:100% !important;}
.coc_v2 .open-card-top .iconbox .lockoff,
.coc_v2 .open-card-top .iconbox .waitoff{display:none;}
.coc_v2 .open-card-top .iconbox .lockon{display:inline-block;width:1.5rem;height:1.5rem;margin-left:.625rem;vertical-align:middle;}
.coc_v2 .open-card-top .favorites_btn{display:inline-block;}

.coc_v2.community-open-card .open-card-content p{min-height:1.813rem;max-height:3.625rem;height:auto;}
.coc_v2.community-open-card .open-card-content .community-main-left-list{width:15.5rem;}
.coc_v2.community-open-card .open-card-content .thumbnail{width:4.5rem;height:4.5rem;}

.community-slide-wrap + .open-tab-radio .ui.radio.base input + label{font-size:.875rem;}
.community-slide-wrap + .open-tab-radio > div {margin-right:0;margin-left:2.5rem;}