
.mycommunity-card-list {background: #fff;border-radius: 0.5rem;box-shadow: 0 2px 6px 0 #ccd4e7;}
.mycommunity-card-list .member-card {width:50%;display:inline-block;padding:1.5rem 2rem;border-bottom:1px solid #eeeeee;height: 142px}
.mycommunity-card-list > .member-card:nth-child(odd) {border-right:1px solid #eeeeee;}
.mycommunity-card-list .member-card .comment > div {display:inline-block;}
.mycommunity-card-list .member-card .comment .content {margin-left:1rem;vertical-align: top;}
.mycommunity-card-list .member-card .comment .content .author > img {padding-right:0.5rem;}
.mycommunity-card-list .member-card .comment .content > .metadata:nth-child(2) {font-size:14px;color:#666666;margin:0.5rem 0;}
.mycommunity-card-list .member-card .comment .content .metadata span:nth-child(even) {font-weight:700;margin-left:0.5rem;color:#000;}
.mycommunity-card-list .member-card .comment .content .metadata span:nth-child(2)::after {content: '';display: inline-block;width: 0.0625rem;height: 0.625rem;background: #d8d8d8;margin: 0 10px;}
.mycommunity-card-list .member-card .comment .content > .metadata:last-child {font-size:14px;color:#999999;}

.mycommunity-card-list .member-card .comment .content .card-follow {color:#0e73db}
.card-group-span .community-manager{margin-right: 8px}
.community-btn-open{
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: url("../../../images/all/btn-card-close.png") center no-repeat;
    width: 32px;
    height: 32px;
    background-size: 32px;
}
.community-btn-close{
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: url("../../../images/all/btn-card-list-open.png") center no-repeat;
    width: 32px;
    height: 32px;
    background-size: 32px;
}
.comment .content .author{
    /*display: flex;*/
}
.comment .content .author .lms-nick{
    display: inline-block;
    max-width: 11em;
    word-break: break-all;
}
.comment .content .author img{
    height: 16px;
}

.comment .content > .lms-nick{
    display: inline-block;
    max-width: 11em;
    word-break: break-all;
}