.survey-header > .discuss-wrap > .discuss-box2 > img{width: 850px;}
.check_opinion{margin: 0 0.625rem;cursor: pointer;}
.ui.icon.button.btn-blue .icon.morelink.more2{display: inline-block;padding-bottom: 0.625rem;background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAACKADAAQAAAABAAAACQAAAACo5FLiAAAAbElEQVQYGWNgoApQmfSfHd0gmBijQsN9jnef/15kYmJO+9CteBCkULD0nu3f///mCvEw6zGCBARKbjv8Y2BYxcTIEsrI8P8fUHINUCLyY4/KPrACZEUgNiMDYwRIEsRGASCT+EvuOKEIUswBABa0JkMgyKLqAAAAAElFTkSuQmCC');}
.discuss-wrap .discuss-box2 > .discuss-text-wrap .discuss-text-belt.belt2{width: 100%;}









