.main-event-btn2 {display: inline-block;margin-top: 0.438rem;margin-left: 0.625rem;}
.main-event-btn2 button.button{width:13.125rem;height:2.5rem;padding:0;}

.ui.active.modal.w640.attend2{position:absolute;width:52.5rem;border:5px solid #4fc9f8;background:#4fc9f8;}
.ui.modal.base .popup_event{padding:0 !important;}
.popup_event .ui.buttons .disabled.button, 
.popup_event .ui.disabled.button, 
.popup_event .ui.button:disabled, 
.popup_event .ui.disabled.button:hover, 
.popup_event .ui.disabled.active.button{opacity:1 !important;}

.popup_event .event_wrap{display:flex;background:url('../../../images/all/bg-event.png') no-repeat left top;}
.popup_event .left{position:relative;width:367px;}
.popup_event .event_title{padding:1.563rem 0 0 1.563rem;}
.popup_event .event_title a{display:block;margin-top:12px;}
.popup_event .imgbox{position:absolute;bottom:1.25rem;left:1.563rem;}
.popup_event .right{width:28.938rem; margin:0 auto;padding:.688rem 2.813rem 1.188rem 3.625rem}

.popup_event .stampbox{margin:.625rem auto;}
.popup_event .stampbox ol{display:flex;flex-wrap:wrap;width:100%;}
.popup_event .stampbox ol li .i_today,
.popup_event .stampbox ol li .i_chk{display:none;}
.popup_event .stampbox ol li.today .i_date{display:none;}
.popup_event .stampbox ol li.done .i_date{display:none;}
.popup_event .stampbox ol li.today .i_today{display:block;}
.popup_event .stampbox ol li.done .i_chk{display:block;}
.popup_event .stampbox ol li button.button{width:3.75rem;height:3.75rem;padding:0;margin:.375rem;pointer-events: none;background:transparent}
.popup_event .stampbox ol li button.button img{width: 100%;height:100%;;}
.popup_event .stampbox ol li button.button:hover,
.popup_event .stampbox ol li button.button:focus{background-color:transparent;}
.popup_event .stampbox ol li.today button.button{pointer-events:initial;}

.event_status img.ui{display:none;margin:0 auto;}
.event_status img.ui.chk_before{display:block;}
.event_status.today .ui.chk_before{display:none;}
.event_status.today .ui.chk_after{display:block;}
.event_status.alldone .ui.chk_before{display:none;}
.event_status.alldone .ui.chk_alldone{display:block;}

.event_txt{text-align:left;}
.event_txt p{font-size:.625rem;line-height: 1rem;color:#666;}
.event_txt p i.icon{width:3px;height:3px;border-radius:50%;vertical-align:middle;background:#666;}

.popup_event .linkbox{position:relative;padding:.938rem 0;border-radius:0 0 .5rem .5rem;border-top:1px solid #cfd7e6;background:#fff; box-shadow: 0 0.25rem 0.625rem 0 rgb(0 0 0 / 20%);}
.popup_event .linkbox .go_study{display:block;width:15rem;margin:0 auto;padding:.688rem 0 .625rem 0;text-align:center;font-size:.875rem;font-weight:900;border-radius:.25rem;background:#004ea4;color:#fff;}
.popup_event .linkbox .go_lotto{display:none;position:absolute;right:145px;bottom:15px;width:140px;padding:0 0 0 .75rem;font-size:.875rem;font-weight:900;border:2px solid #004ea4;border-radius:.25rem;color:#004ea4;}
.popup_event .linkbox .go_lotto.show{display:block;line-height:2.25rem;}
.popup_event .linkbox .go_lotto i.icon{position:relative;top:-2px;width:1.875rem;height:1.875rem;vertical-align:middle;background: #fff url('../../../images/all/icon-s-lotto.png') no-repeat left top;}

.enddim2{display:none;overflow:hidden;position:absolute;top:0;left:0;right:0;bottom:4.438rem;border-radius:8px 8px 0 0 ;background-color:rgba(255,255,255,.9);}
.enddim2.show{display:table;}
.enddim2 .dim_inner{display:table-cell;width:830px;height:547px;padding-top:3rem;text-align:center;vertical-align:middle;}
.enddim2 .dim_inner .endimg{overflow:hidden;display:block;width:5.625rem;height:5.625rem;margin:0 auto;border-radius:50%;background-color: #fff;;}
.enddim2 .dim_inner img.ui.image{display:inline-block;}
.enddim2 p{line-height:1.3;color:#000;}
.enddim2 p em{display:block;margin:.625rem 0 1rem 0;font-style:normal;font-weight:700;font-size:1.25rem;}
.enddim2 p span{display:block;margin:.313rem auto .625rem;line-height:2;font-size:.875rem;}
.enddim2 p + p{line-height:1.5;font-size:.75rem;font-weight:700;color:#004ea4}
