
.card-wrap{display:flex;justify-content: space-between;}

.card-box{overflow:hidden;display:inline-block;border-radius:.25rem;box-sizing: border-box;}
.card{width:17.5rem;height:22.5rem;}
.card-type-inner{width:100%;height:100%;padding:1.5rem;}

.card-header{overflow:hidden;height:5rem;margin-bottom:1rem;}
.card-body{overflow:hidden;height:10rem;margin-bottom:1rem;}
.card-footer{overflow:hidden;display:flex;height:2.5rem;justify-content: space-between;}
.card-footer p{width:50%;}
.card-footer .btn-bookmark{width:2rem;height:2rem;background:yellow;}
.card-footer .link-detail{width:4rem;height:2rem;background:red;}

.card-front{display:block;width:100%;height:100%;background:#fff;color:#000;}
.card-back{display:none;width:100%;height:100%;background:#000;color:#fff;}
.card:hover > .card-front{display:none;}
.card:hover > .card-back{display:block;}