.interest-content.step3 .type-check-box .check-area .etc-wrap {margin-bottom: 1.25rem; display: flex;justify-content: flex-start;align-items: center;}
.interest-content.step3 .type-check-box.purpose .etc-wrap .ui.checkbox.base {width: auto;margin-bottom: 0;margin-right: 1rem;}
.etc-wrap .ui.h48.input {width: 45.5625rem;}
.interest-content .title-box .woman{top : 0.5625rem;}