#root section.header.lms.g-tmp .group .g-info.g-info2.g-ab2 .lms-alarm{display:none;}
#root section.header.lms.g-tmp .group .g-info.g-info2.g-ab3 .lms-alarm{display:none;}
#root section.header.lms.g-tmp .group .g-search.g-ab{left:859px; width:198px;}
#root section.header.lms.g-tmp .group .g-info.g-info2.g-ab2 .button.btn_lang{right:55px}
#root section.header.lms.g-tmp .group .g-info.g-info2.g-ab3 .button.btn_lang{right: 58px;}
#root section.header.lms.g-tmp .group .g-info.g-info2.g-ab3 button.button.btn_gsearch{right: 108px;}