.ui.popup.popup_text{padding: 0.625rem 1.25rem; border:0.063rem solid #aaa; box-shadow: none;}
.ui.popup.popup_text .content{color:#4c4c4c; font-size: 0.875rem;}   
.ui.input.action i.clear.on{display: block;}
.file_name_list{position: absolute; top: 0.875rem; left: 1.125rem; }
.file_name_list span{display: inline-block; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; color:#222; font-size: 0.875rem; vertical-align: top;}
.file_name_list em{display: inline-block; color:#999; font-size: 0.875rem; margin-left:0.375rem; font-style: normal; vertical-align: top;}
.progress_bar_area{position:absolute; top: 0.625rem; right: 8.75rem}
.progress_bar_area span{color:#222; font-size: 0.875rem;}
.progress_bar_area span + .ui.progress{margin: 0 0.625rem; display: inline-block; width: 6.25rem; height: 0.375rem; border-radius: 0; vertical-align: middle; }
.progress_bar_area .done{color:#999; font-size: 0.875rem; font-weight: 500;}
.progress_bar_area .cncl{color:#ff664d; font-size:0.875rem; font-weight: bold;}
.ui.progress.orange .bar{background: #ff664d; border-radius: 0;}

.progress_bar_area a, .progress_bar_area a:focus, .progress_bar_area a:hover, .progress_bar_area a:visited, .progress_bar_area a:active{text-decoration: none;}

a.del{display: inline-block; margin-left: 0.625rem}
a.del > i.icon.del{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../../../images/all/btn-clear-nomal.svg") no-repeat 100%;
}
.table_card .button.btn_down.white{background-image: url("../../../images/all/btn-pooup-open-26-px-grey.svg");}
.table_card .button.btn_up.white{background-image: url("../../../images/all/btn-pooup-top-26-px-grey.svg");}
.table_card .button.btn_delete.white{background-image: url("../../../images/all/btn-control-delete-26-px-grey.svg");}
.tmp-check{margin-top:3.75rem}
.tmp-check .board-write-checkbox.feed_chkbox .ui.checkbox label{font-size: 0.875rem;}
.tmp-check .ui.checkbox input.hidden + label{font-size: 0.875rem}
.board-write-radio .ui.checkbox label:hover,.board-write-radio .ui.checkbox + label:hover{color:#777;}